/*
***************************************************** /

* Theme Name: Reva

* Theme URI: http://reva.eb2a.com/

* Author: Bouthaina

* Author URI: https://themeforest.net/user/bouthaina09

* Description:  Reva - Personal One Page Template

* Version: 1.0.0

* Tags: html5, css3, jquery, bootstrap, theme, template, modern, responsive, cv, resume

*****************************************************/
/*
|------------------------------------------------------
| CSS INDEX
|------------------------------------------------------

1. GLOBAL STYLESHEET

2. NAVBAR SECTION

3. HEADER SECTION

4. ABOUT SECTION

5. SERVICES SECTION

6. PORTFOLIO SECTION

7. TESTIM SECTION

8. CLIENT SECTION

9. CONTACT SECTION

10. FOOTER


/*==========================================================

                    1. START GLOBAL STYLESHEET

===========================================================*/
/*
	Import
	------------------------------------------------
*/
/*
	@package reva
*/
/*
	Mixins
	------------------------------------------------
*/
@font-face {
    font-family: 'icons';
    src: url("../fonts/icons.eot?un9a1c");
    src: url("../fonts/icons.eot?un9a1c#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?un9a1c") format("truetype"), url("../fonts/icons.woff?un9a1c") format("woff"), url("../fonts/icons.svg?un9a1c#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-actual-size:before {
    content: "\e900";
}

.icon-anchor:before {
    content: "\e901";
}

.icon-arrow-left:before {
    content: "\e902";
}

.icon-arrow-right:before {
    content: "\e903";
}

.icon-badge:before {
    content: "\e904";
}

.icon-bag:before {
    content: "\e905";
}

.icon-ban:before {
    content: "\e906";
}

.icon-bar-chart:before {
    content: "\e907";
}

.icon-basket:before {
    content: "\e908";
}

.icon-basket-loaded:before {
    content: "\e909";
}

.icon-bell:before {
    content: "\e90a";
}

.icon-briefcase:before {
    content: "\e90b";
}

.icon-bubble:before {
    content: "\e90c";
}

.icon-bubbles:before {
    content: "\e90d";
}

.icon-bulb:before {
    content: "\e90e";
}

.icon-calculator:before {
    content: "\e90f";
}

.icon-calendar:before {
    content: "\e910";
}

.icon-call-end:before {
    content: "\e911";
}

.icon-call-in:before {
    content: "\e912";
}

.icon-call-out:before {
    content: "\e913";
}

.icon-check:before {
    content: "\e914";
}

.icon-chemestry:before {
    content: "\e915";
}

.icon-clock:before {
    content: "\e916";
}

.icon-close:before {
    content: "\e917";
}

.icon-compass:before {
    content: "\e918";
}

.icon-config:before {
    content: "\e919";
}

.icon-controller:before {
    content: "\e91a";
}

.icon-credit-card:before {
    content: "\e91b";
}

.icon-crop:before {
    content: "\e91c";
}

.icon-cup:before {
    content: "\e91d";
}

.icon-cup_New1:before {
    content: "\e91e";
}

.icon-cursor:before {
    content: "\e91f";
}

.icon-diamond:before {
    content: "\e920";
}

.icon-direction:before {
    content: "\e921";
}

.icon-directions:before {
    content: "\e922";
}

.icon-disc:before {
    content: "\e923";
}

.icon-dislike:before {
    content: "\e924";
}

.icon-document:before {
    content: "\e925";
}

.icon-documents:before {
    content: "\e926";
}

.icon-download:before {
    content: "\e927";
}

.icon-drawer:before {
    content: "\e928";
}

.icon-dribbble:before {
    content: "\e929";
}

.icon-dropbox:before {
    content: "\e92a";
}

.icon-droplet:before {
    content: "\e92b";
}

.icon-emoticon:before {
    content: "\e92c";
}

.icon-end:before {
    content: "\e92d";
}

.icon-energy:before {
    content: "\e92e";
}

.icon-envelope:before {
    content: "\e92f";
}

.icon-envelope-letter:before {
    content: "\e930";
}

.icon-envelope-open:before {
    content: "\e931";
}

.icon-eye:before {
    content: "\e932";
}

.icon-eyeglasses:before {
    content: "\e933";
}

.icon-facebook:before {
    content: "\e934";
}

.icon-feed:before {
    content: "\e935";
}

.icon-female:before {
    content: "\e936";
}

.icon-female-user:before {
    content: "\e937";
}

.icon-film:before {
    content: "\e938";
}

.icon-fire:before {
    content: "\e939";
}

.icon-flag:before {
    content: "\e93a";
}

.icon-folder:before {
    content: "\e93b";
}

.icon-folder_New1:before {
    content: "\e93c";
}

.icon-follow:before {
    content: "\e93d";
}

.icon-following:before {
    content: "\e93e";
}

.icon-forward:before {
    content: "\e93f";
}

.icon-frame:before {
    content: "\e940";
}

.icon-friends:before {
    content: "\e941";
}

.icon-full-screen:before {
    content: "\e942";
}

.icon-ghost:before {
    content: "\e943";
}

.icon-globe-1:before {
    content: "\e944";
}

.icon-globe-2:before {
    content: "\e945";
}

.icon-graduation-cap:before {
    content: "\e946";
}

.icon-graph:before {
    content: "\e947";
}

.icon-grid:before {
    content: "\e948";
}

.icon-handbag:before {
    content: "\e949";
}

.icon-headphones:before {
    content: "\e94a";
}

.icon-headphones-microphone:before {
    content: "\e94b";
}

.icon-heart:before {
    content: "\e94c";
}

.icon-help:before {
    content: "\e94d";
}

.icon-home:before {
    content: "\e94e";
}

.icon-hourglass:before {
    content: "\e94f";
}

.icon-info:before {
    content: "\e950";
}

.icon-key:before {
    content: "\e951";
}

.icon-layers:before {
    content: "\e952";
}

.icon-left:before {
    content: "\e953";
}

.icon-like:before {
    content: "\e954";
}

.icon-link:before {
    content: "\e955";
}

.icon-list:before {
    content: "\e956";
}

.icon-lock:before {
    content: "\e957";
}

.icon-login:before {
    content: "\e958";
}

.icon-logout:before {
    content: "\e959";
}

.icon-loop:before {
    content: "\e95a";
}

.icon-magic-wand:before {
    content: "\e95b";
}

.icon-magnet:before {
    content: "\e95c";
}

.icon-magnifier:before {
    content: "\e95d";
}

.icon-male:before {
    content: "\e95e";
}

.icon-male-user:before {
    content: "\e95f";
}

.icon-map:before {
    content: "\e960";
}

.icon-microphone:before {
    content: "\e961";
}

.icon-monitor:before {
    content: "\e962";
}

.icon-mouse:before {
    content: "\e963";
}

.icon-moustache:before {
    content: "\e964";
}

.icon-move:before {
    content: "\e965";
}

.icon-music-note1:before {
    content: "\e966";
}

.icon-music-note2:before {
    content: "\e967";
}

.icon-note:before {
    content: "\e968";
}

.icon-notebook:before {
    content: "\e969";
}

.icon-opened-book:before {
    content: "\e96a";
}

.icon-paper-clip:before {
    content: "\e96b";
}

.icon-paper-plane:before {
    content: "\e96c";
}

.icon-pause:before {
    content: "\e96d";
}

.icon-pencil:before {
    content: "\e96e";
}

.icon-phone:before {
    content: "\e96f";
}

.icon-photo:before {
    content: "\e970";
}

.icon-picture:before {
    content: "\e971";
}

.icon-pie-chart:before {
    content: "\e972";
}

.icon-pin:before {
    content: "\e973";
}

.icon-plane:before {
    content: "\e974";
}

.icon-play:before {
    content: "\e975";
}

.icon-playlist:before {
    content: "\e976";
}

.icon-plus:before {
    content: "\e977";
}

.icon-pointer:before {
    content: "\e978";
}

.icon-power:before {
    content: "\e979";
}

.icon-present:before {
    content: "\e97a";
}

.icon-printer:before {
    content: "\e97b";
}

.icon-puzzle:before {
    content: "\e97c";
}

.icon-question:before {
    content: "\e97d";
}

.icon-refresh:before {
    content: "\e97e";
}

.icon-reload:before {
    content: "\e97f";
}

.icon-rewind:before {
    content: "\e980";
}

.icon-right:before {
    content: "\e981";
}

.icon-rocket:before {
    content: "\e982";
}

.icon-settings:before {
    content: "\e983";
}

.icon-share1:before {
    content: "\e984";
}

.icon-share2:before {
    content: "\e985";
}

.icon-shield:before {
    content: "\e986";
}

.icon-shuffle:before {
    content: "\e987";
}

.icon-speech:before {
    content: "\e988";
}

.icon-speedometer:before {
    content: "\e989";
}

.icon-star:before {
    content: "\e98a";
}

.icon-start:before {
    content: "\e98b";
}

.icon-tablet:before {
    content: "\e98c";
}

.icon-tag:before {
    content: "\e98d";
}

.icon-target:before {
    content: "\e98e";
}

.icon-trash:before {
    content: "\e98f";
}

.icon-tumblr:before {
    content: "\e990";
}

.icon-twitter:before {
    content: "\e991";
}

.icon-umbrella:before {
    content: "\e992";
}

.icon-unfollow:before {
    content: "\e993";
}

.icon-unlock:before {
    content: "\e994";
}

.icon-upload:before {
    content: "\e995";
}

.icon-vector:before {
    content: "\e996";
}

.icon-video:before {
    content: "\e997";
}

.icon-volume-1:before {
    content: "\e998";
}

.icon-volume-2:before {
    content: "\e999";
}

.icon-volume-off:before {
    content: "\e99a";
}

.icon-wallet:before {
    content: "\e99b";
}

.icon-wrench:before {
    content: "\e99c";
}

.icon-youtube:before {
    content: "\e99d";
}

.icon-zoom-in:before {
    content: "\e99e";
}

.icon-zoom-out:before {
    content: "\e99f";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover,
a:focus,
a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow-x: hidden;
}

.kaushan {
    font-family: 'Kaushan Script', sans-serif;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

section {
    padding-left: 220px;
    -webkit-transition: all 340ms ease-in-out;
    -moz-transition: all 340ms ease-in-out;
    -ms-transition: all 340ms ease-in-out;
    -o-transition: all 340ms ease-in-out;
    transition: all 340ms ease-in-out;
    height: 100%;
}

section.about,
section.serv {
    height: 100vh;
}

.bg-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section:not(:first-of-type) {
    display: none;
}

.title {
    padding: 60px 70px;
}

.title h1 {
    position: relative;
    font-size: 42px;
    color: #1e1e1e;
}

.title h1:before {
    position: absolute;
    color: #efefef;
    text-transform: uppercase;
    left: -5px;
    top: 12px;
    z-index: -1;
}

/*==========================================================

                    2. START NAVBAR STYLESHEET

===========================================================*/
.navbar {
    border-right: 1px solid #eee;
    background-color: #fff;
    width: 220px;
    display: block;
    position: fixed;
    height: 100vh;
    -webkit-transition: all 340ms ease-in-out;
    -moz-transition: all 340ms ease-in-out;
    -ms-transition: all 340ms ease-in-out;
    -o-transition: all 340ms ease-in-out;
    transition: all 340ms ease-in-out;
}

.navbar.open-nav {
    left: 0;
}

.navbar.default-menu {
    width: 220px;
}

.navbar.small-menu {
    width: 100px;
}

.navbar.small-menu .social-media {
    display: none;
}

.navbar.small-menu .navbar-nav {
    width: 60px;
}

.navbar.small-menu .logo .bg_logo {
    background-size: 43px;
    width: 100%;
    top: 65px;
}

.navbar.small-menu .nav-item span {
    display: none;
}

.navbar.small-menu .nav-item a {
    font-size: 17px;
}

.navbar .collapse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.navbar .navbar-nav {
    display: block;
    box-shadow: -3px 5px 12px #f1f1f1;
    width: 110px;
}

.navbar .nav-item {
    margin: 16px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.navbar .nav-item:last-child {
    border: none;
    margin-bottom: 0;
}

.navbar .nav-item a {
    font-size: 14px;
    color: #333;
}

.navbar .nav-item i {
    display: block !important;
    padding-bottom: 6px;
    font-size: 16px;
}

.navbar .nav-item i.icon-picture,
.navbar .nav-item i.icon-envelope {
    font-size: 14px;
}

.navbar .collapse-menu {
    position: absolute;
    top: 20px;
    right: 35px;
    z-index: 2;
}

.navbar .collapse-menu .open-menu:before {
    content: '> ';
    font-weight: bolder;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: -27px;
    border: 1px solid #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.navbar .collapse-menu .closed-menu:before {
    content: '< ';
    font-weight: bolder;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #333;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.navbar .logo {
    z-index: 1;
    height: 80px;
}

.navbar .logo .bg_logo {
    background-image: url(../images/dark-logo.png);
    /* Here The Light Logo */
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
}

.navbar .logo .bg_logo_dark {
    background-image: url(../images/dark-logo.png);
    /* Here The Dark Logo */
    background-repeat: no-repeat;
}

.navbar .logo .bg_logo_light {
    background-image: url(../images/light-logo.png);
    /* Here The Light Logo */
    background-repeat: no-repeat;
}

.navbar .social-media {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar .social-media a {
    color: #333;
    font-size: 14px;
    padding-right: 12px;
    -webkit-transition: all 340ms ease-in-out;
    -moz-transition: all 340ms ease-in-out;
    -ms-transition: all 340ms ease-in-out;
    -o-transition: all 340ms ease-in-out;
    transition: all 340ms ease-in-out;
}

.navbar .social-media a:last-child {
    padding-right: 0px;
}

.navbar-brand {
    margin: 45px auto;
}

section.close-menu {
    padding-left: 100px;
}

.navbar-toggler {
    width: 50px;
    height: 43px;
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    border: none;
    padding: 0;
}

.navbar-toggler .menu {
    width: 27px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 2px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.navbar-toggler .menu .line1,
.navbar-toggler .menu .line2,
.navbar-toggler .menu .line3 {
    position: absolute;
    width: 100%;
    height: 2px;
    left: -2px;
    border-radius: 15px;
    -webkit-transition: all 320ms cubic-bezier(0.42, 0, 0.38, 1.54);
    -moz-transition: all 320ms cubic-bezier(0.42, 0, 0.38, 1.54);
    -ms-transition: all 320ms cubic-bezier(0.42, 0, 0.38, 1.54);
    -o-transition: all 320ms cubic-bezier(0.42, 0, 0.38, 1.54);
    transition: all 320ms cubic-bezier(0.42, 0, 0.38, 1.54);
}

.navbar-toggler .menu .line1 {
    top: 2px;
}

.navbar-toggler .menu .line2 {
    top: 10px;
}

.navbar-toggler .menu .line3 {
    top: 18px;
}

.navbar-toggler .menu.toggle .line1,
.navbar-toggler .menu.toggle .line2,
.navbar-toggler .menu.toggle .line3 {
    top: 10px;
}

.navbar-toggler .menu.toggle .line1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggler .menu.toggle .line2,
.navbar-toggler .menu.toggle .line3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*==========================================================

                    3. START HEADER STYLESHEET

===========================================================*/
.home {
    overflow: hidden;
    /* Zoom in Keyframes */
    /* End of Zoom in Keyframes */
    /* Zoom out Keyframes */
    /* End of Zoom out Keyframes */
}

.home .zoominheader {
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-animation: zoomin 10s ease-in infinite;
    animation: zoomin 10s ease-in infinite;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.home .zoomoutheader {
    width: 100%;
    height: 100vh;
    background: none;
    -webkit-animation: zoomout 10s ease-in infinite;
    animation: zoomout 10s ease-in infinite;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes zoomout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.home .title {
    position: absolute;
    top: 50%;
    margin-left: 7%;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}

.home .title h1 {
    font-size: 55px;
}

.home .title p {
    margin-bottom: 33px;
    letter-spacing: 0.7px;
    margin-top: -4px;
    font-size: 22px;
}

.home .title .typed-cursor,
.home .title .type {
    display: inline;
}

.home .title .btn-home {
    margin-top: 40px;
}

.home .title .btn-home a {
    color: #fff;
    padding: 10px 34px;
    font-size: 15px;
    letter-spacing: 1.4px;
    border-radius: 2px;
    box-shadow: -1px 3px 11px #888;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.home .title .btn-home a:hover {
    box-shadow: none;
}

.home2 .skewed {
    position: absolute;
    right: -45px;
    top: -11px;
    width: 49%;
    height: 100vh;
    -webkit-transform: skew(-2deg) rotate(2deg);
    -moz-transform: skew(-2deg) rotate(2deg);
    -ms-transform: skew(-2deg) rotate(2deg);
    -o-transform: skew(-2deg) rotate(2deg);
    transform: skew(-2deg) rotate(2deg);
    overflow: hidden;
}

.home2 .skewed .overlay {
    display: none;
}

.home2 .skewed .my-bg {
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100vh;
}

.home3 .title {
    margin-left: 4%;
}

.home3 .overlay {
    position: absolute;
}

.home3 .home-bg {
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0px;
    width: 50%;
}

.home3 .home-bg .skewed {
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    height: 100vh;
    width: 55%;
    position: absolute;
    left: -230px;
    background-color: #fff;
    z-index: 1;
}

.home3 .home-bg .my-bg {
    background-image: url(../images/background2.jpg);
    width: 100%;
    height: 100vh;
    background-size: 150%;
    background-position: -80px;
}

.home3 .image {
    background-image: url(../images/background2.jpg);
    width: 460px;
    height: 310px;
    position: absolute;
    left: 46%;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    border-radius: 5px;
    box-shadow: -7px -1px 18px rgba(193, 193, 193, 0.43);
    z-index: 2;
}

/* Start Particles Background */
.home .particles {
    background-image: url(../images/paralax.jpg);
    /* Here You Can Edit the image of Header (Background Particles)  */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.home .particles .title p,
.home .particles .title h1 {
    color: #fff;
}

.home .particles .title .btn-home a {
    box-shadow: none;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
}

/* End Particles Background */
/* Start Slider Background */
.home .slider {
    height: 100vh;
}

.home .slider p,
.home .slider h1 {
    color: #fff;
}

.home .slider .btn-home a {
    box-shadow: none;
}

.home .slider .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.home .slider .slider1 {
    background-image: url(../images/slide1.jpg);
    /* Here You Can Edit the image of the Slider 1  */
    height: 100vh;
}

.home .slider .slider2 {
    background-image: url(../images/slide2.jpg);
    /* Here You Can Edit the image of the Slider 2  */
    height: 100vh;
}

.home .slider .slider3 {
    background-image: url(../images/slide3.jpg);
    /* Here You Can Edit the image of the Slider 3  */
    height: 100vh;
}

.home .slider .slick-prev,
.home .slider .slick-next {
    position: absolute;
    bottom: 39px;
    z-index: 99;
    font-size: 25px;
    font-weight: lighter;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    height: 45px;
    width: 45px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.home .slider .slick-prev:hover,
.home .slider .slick-next:hover {
    background-color: #FFF;
    color: #333;
}

.home .slider .slick-prev {
    right: 160px;
}

.home .slider .slick-next {
    right: 100px;
}

/* End Slider Background */
/* Start Youtube Background */
.youtube #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 1386px;
    height: 780px;
    background-position: center center;
}

.youtube .overlay-video {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.youtube .title .typed-cursor,
.youtube .title p,
.youtube .title h1 {
    color: #fff;
}

.youtube .title .btn-home a {
    box-shadow: none;
}

/* End Youtube Background */
/*==========================================================

                    4. ABOUT  NAVBAR STYLESHEET

===========================================================*/
.about .title h1:before {
    content: 'about';
}

.about .container {
    overflow: hidden;
}

.about .about-img {
    background-image: url(../images/about.jpg);
    /* Here You can edit your personal image */
    height: 350px;
    width: 85%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: -500px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.about .about-img.show-img-abt {
    margin-left: 0;
}

.about .tabs-about ul {
    border-bottom: 1px solid #eee;
}

.about .tabs-about .tab-content .tab-pane {
    padding: 30px 20px 0;
}

.about .tabs-about .tab-content .tab-pane p {
    font-size: 14px;
    color: #666;
}

.about .tabs-about .tab-content .tab-pane .signature {
    max-width: 119px;
}

.about .tabs-about .tab-content .tab-pane.profile .title-info {
    max-width: 145px;
    width: 100%;
    display: inline-block;
}

.about .tabs-about .tab-content .tab-pane.profile h6 {
    padding: 6px 0;
    font-size: 15px;
}

.about .tabs-about .tab-content .tab-pane.profile h6 span:last-child {
    color: #777;
}

.about .tabs-about .tab-content .tab-pane .btn-about {
    text-align: center;
    margin-top: 40px;
}

.about .tabs-about .tab-content .tab-pane .btn-about a {
    color: #fff;
    padding: 9px 25px;
    font-size: 15px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -ms-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}

.about .tabs-about .tab-content .tab-pane .skills {
    padding: 0 30px;
}

.about .tabs-about .tab-content .tab-pane .skills .progress-text {
    color: #333;
    margin-bottom: 8px;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.4px;
}

.about .tabs-about .tab-content .tab-pane .skills .progress {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    height: 3px;
    margin-bottom: 17px;
    overflow: visible;
}

.about .tabs-about .tab-content .tab-pane .skills .progress .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: all 1.5s ease 0.3s;
    transition: all 1.5s ease 0.3s;
    color: inherit;
    opacity: 0;
}

.about .tabs-about .tab-content .tab-pane .skills .progress .progress-bar:before {
    content: attr(data-present);
    position: absolute;
    right: 0;
    top: -24px;
    color: inherit;
}

.about .tabs-about .tab-content .tab-pane .skills:last-child {
    margin-bottom: 0;
}

.about .tabs-about .nav-item {
    background-color: #fff;
    margin-bottom: 0;
    margin: 0 auto 0;
}

.about .tabs-about .nav-link {
    color: #1e1e1e;
    font-size: 15px;
}

.about .tabs-about .nav-link:hover {
    border-color: transparent;
}

.about .tabs-about .nav-link i {
    font-size: 17px;
    display: block;
    padding-bottom: 9px;
    padding-top: 3px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -ms-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}

.about .tabs-about .nav-link.active {
    background-color: transparent;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*==========================================================

                    5. SERVICES HEADER STYLESHEET

===========================================================*/
.serv .title h1:before {
    content: 'services';
}

.serv .content {
    margin-bottom: 40px;
    padding-left: 10px;
}

.serv .content img {
    max-width: 50px;
    margin-bottom: 20px;
}

.serv .content h4 {
    font-size: 19px;
}

.serv .content p {
    font-size: 13px;
    color: #555;
    letter-spacing: 0.3px;
}

.serv .serv-vid {
    background-image: url(../images/services.jpg);
    width: 90%;
    height: 90%;
    border-radius: 4px;
    margin: auto;
    position: relative;
}

.serv .serv-vid .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.serv .serv-vid .play:hover i {
    color: #fff;
}

/*==========================================================

                    6. START PORTFOLIO STYLESHEET

===========================================================*/
.work .title h1:before {
    content: 'portfolio';
}

.work .shuffle {
    margin-bottom: 40px;
}

.work .shuffle ul {
    text-align: center;
}

.work .shuffle ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 25px;
    font-size: 15px;
}

.work .shuffle ul li.active {
    color: #FFF;
    box-shadow: 0px 1px 8px #ddd;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.work .shuffle ul li.active:hover {
    box-shadow: none;
}

.work .gallery .item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.work .gallery .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.work .gallery .item .over .info-img {
    position: absolute;
    top: 20%;
    left: 20px;
    text-align: left;
}

.work .gallery .item .over .info-img h4 {
    font-size: 34px;
    margin-bottom: -3px;
}

.work .gallery .item .over .info-img span {
    font-size: 17px;
    letter-spacing: 0.8px;
}

.work .gallery .item .over a {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 21px;
    color: #fff;
}

.work .gallery .item img {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.work .gallery .item:hover img {
    width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.work .gallery .item:hover .over {
    opacity: 1;
}

/*==========================================================

                    7. START TESTIM STYLESHEET

===========================================================*/
.testim .title h1:before {
    content: 'Testimonials';
}

.testim .tabbable {
    position: relative;
}

.testim .tabbable .list-tabs {
    position: absolute;
    left: 50%;
    top: -23%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.testim .tabbable .list-tabs ul {
    border: none;
    position: relative;
}

.testim .tabbable .list-tabs ul li {
    margin-left: 10px;
    position: absolute;
}

.testim .tabbable .list-tabs ul li:first-child {
    margin-left: 0px;
    right: 93px;
    top: 100px;
}

.testim .tabbable .list-tabs ul li:nth-child(2) {
    right: 53px;
    top: 40px;
}

.testim .tabbable .list-tabs ul li:nth-child(3) {
    right: -24px;
    top: 14px;
}

.testim .tabbable .list-tabs ul li:nth-child(4) {
    left: 40px;
    top: 40px;
}

.testim .tabbable .list-tabs ul li:nth-child(5) {
    left: 83px;
    top: 100px;
}

.testim .tabbable .list-tabs ul li img {
    max-width: 90px;
}

.testim .tabbable .image-tab {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.testim .tabbable .image-tab.image-testim1 {
    background-image: url(../images/testim1.jpg);
}

.testim .tabbable .image-tab.image-testim2 {
    background-image: url(../images/testim2.jpg);
}

.testim .tabbable .image-tab.image-testim3 {
    background-image: url(../images/testim3.jpg);
}

.testim .tabbable .image-tab.image-testim4 {
    background-image: url(../images/testim4.jpg);
}

.testim .tabbable .image-tab.image-testim5 {
    background-image: url(../images/testim5.jpg);
}

.testim .tabbable .tab-content {
    margin: auto;
    margin-bottom: 70px;
}

.testim .tabbable .tab-content .tab-pane {
    margin-top: 50px;
}

.testim .tabbable .tab-content .profile-image .image-tab {
    height: 160px;
    width: 160px;
    margin: auto;
    margin-top: 15px;
}

.testim .tabbable .tab-content .profile-details {
    text-align: center;
    border: 1px solid #b0914f;
    height: 244px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    margin-top: -78px;
    padding: 83px 0;
    position: relative;
    z-index: -1;
}

.testim .tabbable .tab-content .profile-details i {
    position: absolute;
    font-size: 23px;
}

.testim .tabbable .tab-content .profile-details i.fa-quote-left {
    left: 50px;
    top: 30px;
}

.testim .tabbable .tab-content .profile-details i.fa-quote-right {
    right: 50px;
    bottom: 30px;
}

.testim .tabbable .tab-content .profile-details p {
    font-size: 15px;
    font-style: italic;
    padding-top: 10px;
    margin: 3px 16% 10px;
}

.testim .tabbable .tab-content .profile-details h4 {
    font-size: 19px;
    font-weight: 600;
    padding-top: 10px;
}

.testim .client {
    background-image: url(../images/background-client.jpg);
    width: 100%;
    position: relative;
}

.testim .client .overlay-cl {
    position: absolute;
    height: 100%;
    width: 100%;
}

.testim .client .logos {
    position: relative;
    text-align: center;
    padding: 40px;
}

.testim .client .logos img {
    max-width: 60px;
}

/*==========================================================

                    9. SERVICES CONTACT STYLESHEET

===========================================================*/
.contact {
    overflow: hidden;
}

.contact .title h1:before {
    content: 'contact';
}

.contact .form {
    padding: 0 30px;
}

.contact .form .form-group textarea,
.contact .form .form-group input {
    border: none;
    border-radius: 0;
    width: 90%;
    text-align: left;
    margin: auto;
    font-size: 14px;
    margin-bottom: 22px;
}

.contact .form .form-group textarea::placeholder,
.contact .form .form-group input::placeholder {
    color: #bbb;
}

.contact .form .form-group textarea {
    width: 95%;
    height: 100px;
    resize: none;
}

.contact .form .message .send-btn {
    color: #fff;
    padding: 6px 16px 8px 0px;
    border-radius: 2px;
    margin-left: 12px;
    cursor: pointer;
    position: relative;
}

.contact .form .message .send-btn input.btn {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    padding: 9px 20px;
    border-radius: 2px;
    letter-spacing: 0.6px;
}

.contact .form .message .send-btn i {
    margin-left: -35px;
    -webkit-transition: all 420ms ease-in-out;
    -moz-transition: all 420ms ease-in-out;
    -ms-transition: all 420ms ease-in-out;
    -o-transition: all 420ms ease-in-out;
    transition: all 420ms ease-in-out;
}

.contact .form .message .send-btn:hover i {
    margin-left: 0;
}

.contact .infos {
    height: 95%;
    width: 100%;
    box-shadow: -3px 6px 23px rgba(144, 144, 144, 0.46);
    border-radius: 4px;
    padding: 50px;
    position: relative;
    color: #fff;
}

.contact .infos h2 {
    position: absolute;
    right: 0;
    top: 65px;
    font-size: 125px;
    transform: rotate(38deg);
    color: rgba(255, 255, 255, 0.11);
    font-weight: 100;
}

.contact .infos .email,
.contact .infos .phone,
.contact .infos .address {
    padding: 18px 20px;
}

.contact .infos .email a,
.contact .infos .email span,
.contact .infos .phone a,
.contact .infos .phone span,
.contact .infos .address a,
.contact .infos .address span {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-left: 13px;
}

/* Start Map */
.google-wrapper {
    position: relative;
}

#google-map,
.contact iframe {
    border: 0;
    width: 100%;
    height: 430px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(99%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;
    /* Fix for transition flickering */
}

.scrolloff {
    pointer-events: none;
}

.maps {
    padding: 0 !important;
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: -495px;
    -webkit-transition: all 420ms ease-in-out;
    -moz-transition: all 420ms ease-in-out;
    -ms-transition: all 420ms ease-in-out;
    -o-transition: all 420ms ease-in-out;
    transition: all 420ms ease-in-out;
}

.maps.opend {
    margin-bottom: 0;
}

.maps .open-map {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #b0914f;
    color: #fff;
    cursor: pointer;
}

.maps .open-map span {
    letter-spacing: 0.8px;
    font-size: 15px;
    display: none;
}

.maps .open-map span i {
    margin-right: 7px;
}

.maps .open-map .active {
    display: block;
}

/* End Map */
/*==========================================================

                    10. SERVICES FOOTER STYLESHEET

===========================================================*/
footer {
    height: 100%;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 25px;
    margin-top: 65px;
    position: relative;
    background-color: #fff;
    -webkit-transition: all 420ms ease-in-out;
    -moz-transition: all 420ms ease-in-out;
    -ms-transition: all 420ms ease-in-out;
    -o-transition: all 420ms ease-in-out;
    transition: all 420ms ease-in-out;
}

footer.opend {
    margin-top: 0;
}

footer p {
    margin-bottom: 0;
    font-size: 12px;
    padding-bottom: 5px;
    text-align: center;
}

footer p a {
    font-style: italic;
    font-weight: 600;
}

/* Start Section Tool Box */
.option-box {
    position: fixed;
    top: 120px;
    right: 0;
    z-index: 9999;
    text-align: center;
    padding: 0;
}

.option-box .color-option {
    position: fixed;
    right: -185px;
    background-color: #fff;
    width: 180px;
    box-shadow: 0px 2px 9px rgba(177, 177, 177, 0.2);
}

.option-box .color-option ul {
    margin: 12px auto 9px;
    padding: 6px 19px;
}

.option-box .color-option ul li {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #555;
}

.option-box .color-option ul li span {
    display: block;
    margin: 25px -7px;
}

.option-box .color-option ul li:nth-child(3),
.option-box .color-option ul li:nth-child(5) {
    margin-right: 0;
}

.option-box .color-option .dl li {
    margin: 6px 14px;
}

.option-box .gear-check {
    padding: 6px 19px;
    color: #333;
    cursor: pointer;
    background-color: #FFF;
    font-size: 25px;
    border-radius: 2px 0 0 2px;
    box-shadow: 0px 2px 9px rgba(177, 177, 177, 0.2);
}

/* End Section Tool Box */
/* Start Loading */
.loading {
    background-color: #FFF;
    color: #444;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    animation: animate-to-5 1.5s infinite;
}

@keyframes animate-to-2 {

    25%,
    75% {
        transform: translateX(-1.5rem) scale(0.75);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {

    25%,
    75% {
        transform: translateX(1.5rem) scale(0.75);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }

    50%,
    75% {
        transform: translateX(-4.5rem) scale(0.6);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }

    50%,
    75% {
        transform: translateX(4.5rem) scale(0.6);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }

    50% {
        transform: translateX(-4.5rem) scale(0.6);
    }

    75% {
        transform: translateX(-7.5rem) scale(0.5);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }

    50% {
        transform: translateX(4.5rem) scale(0.6);
    }

    75% {
        transform: translateX(7.5rem) scale(0.5);
    }

    95% {
        transform: translateX(0rem) scale(1);
    }
}

/* End Loading */
/* Start Style Demo */
.header-demo {
    text-align: center;
    background-color: #1d1d1d;
    color: #FFF;
    height: 570px;
    background-image: url(../images/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-demo .overlay-demo {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 570px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-demo h2 {
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    width: 260px;
    height: 56px;
    line-height: 56px;
    margin: 10px auto 35px;
    text-transform: uppercase;
    font-size: 28px;
    border-radius: 30px;
}

.header-demo .title-demo {
    position: relative;
    margin-bottom: 42px;
    height: 610px;
}

.header-demo .title-demo .demo {
    color: #333;
}

.header-demo .title-demo .demo button {
    padding: 8px 28px;
}

.header-demo .title-demo .demo:hover button {
    background-color: #FFF;
    color: #333;
}

.header-demo .title-demo h1 {
    font-size: 82px;
    padding-top: 12%;
}

.header-demo .title-demo h4 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.4px;
    margin-bottom: 120px;
}

.header-demo .demo1 {
    margin: 0 30px;
    overflow: hidden;
}

.header-demo .demo1 img {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.header-demo .demo1:hover img {
    -webkit-transform: translateY(-4%);
    -moz-transform: translateY(-4%);
    -ms-transform: translateY(-4%);
    -o-transform: translateY(-4%);
    transform: translateY(-4%);
}

.header-demo .demo1 a {
    color: #333;
}

.header-demo .demo1 button {
    text-transform: none;
    padding: 8px 16px;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 13px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.header-demo .demo1 h3 {
    font-size: 17px;
    background-color: #ffffff;
    color: #1d1d1d;
    margin: 20px auto;
    height: 48px;
    line-height: 48px;
    border-radius: 30px;
    padding: 0 24px;
    display: inline-block;
    letter-spacing: 1px;
    border: 1px solid #eee;
}

.header-demo .title-demo .demo button,
.header-demo .demo1 button {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.header-demo .classic button {
    background-color: #444;
    color: #FFF;
}

.light-dark-demo,
.multi-header-demo {
    margin-top: 40px;
}

/*===========================================================
  11. START blog STYLESHEET

  ===========================================================*/
.blog .title h1:before {
    content: 'blog';
}

.blog .shuffle {
    margin-bottom: 40px;
}

.blog .shuffle ul {
    text-align: center;
}

.blog .shuffle ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 25px;
    font-size: 15px;
}

.blog .shuffle ul li.active {
    color: #FFF;
    box-shadow: 0px 1px 8px #ddd;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.blog .shuffle ul li.active:hover {
    box-shadow: none;
}

.blog .gallery .item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.blog .gallery .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 320ms ease-in-out;
    -moz-transition: all 320ms ease-in-out;
    -ms-transition: all 320ms ease-in-out;
    -o-transition: all 320ms ease-in-out;
    transition: all 320ms ease-in-out;
}

.blog .gallery .item .over .info-img {
    position: absolute;
    top: 20%;
    left: 20px;
    text-align: left;
}

.blog .gallery .item .over .info-img h4 {
    font-size: 34px;
    margin-bottom: -3px;
}

.blog .gallery .item .over .info-img span {
    font-size: 17px;
    letter-spacing: 0.8px;
}

.blog .gallery .item .over a {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 21px;
    color: #fff;
}

.blog .gallery .item img {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.blog .gallery .item:hover img {
    width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.blog .gallery .item:hover .over {
    opacity: 1;
}

/*==========================================================

/* End Style Demo */

/*# sourceMappingURL=main.css.map */
