/* ------------------------- Start Media Query -------------------------------------- */

/* X Small Screen */
@media(min-width: 100px) and (max-width: 991px) {
    section.close-menu,
    section {
        padding-left: 0;
    }
    section.about, section.serv {
        height: 100%;
    }
    .navbar {
        left: -220px;
        padding: 0;
        @include animate( all, 320ms, ease-in-out );
    }
    .navbar .open-nav {
        left: 0;
    }
    .navbar .navbar-toggler {
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .navbar .collapse {
        height: auto;
        @include animate( all, 320ms, cubic-bezier(0.42, 0, 0.49, 1.27) );
    }
    .navbar .collapse .collapse-menu {
        display: none!important;
    }
    .navbar .navbar-nav {
        margin: auto;
        border-top: none;
    }
    .navbar .nav-item {
        margin: 10px 0;
    }
    .navbar .nav-item a {
        font-size: 13px;
    }
    .navbar .social-media {
        bottom: 10px;
    }
    .navbar .logo .bg_logo {
        top: 12px;
    }
    
    /* Header */
    
    .home2 .skewed {
        right: 0;
        top: 0;
        transform: none;
        width: 100%;
    }
    .home2 .skewed .overlay {
        display: block;
        position: absolute;
    }
    .home3 .home-bg .skewed,
    .home3 .overlay,
    .home3 .image {
        display: none;
    }
    .home3 .home-bg {
        width: 100%;
    }
    .home3 .home-bg .my-bg {
        background-position: center center;
        background-size: cover;
    }
    .home3 .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1)!important;
    }
    
    /* About */
    
    .title {
        padding: 70px 30px;
    }
    .title h1 {
        font-size: 35px;
    }
    .about .tabs-about {
        margin-bottom: 50px;
    }
    .about .tabs-about .tab-content .tab-pane .skills {
        padding: 0 10px;
    }
    .about .tabs-about .tab-content .tab-pane {
        padding: 30px 0 0;
    }
    .about .tabs-about .tab-content .tab-pane.profile .title-info {
        max-width: 120px;
    }
    .about .tabs-about .tab-content .tab-pane .skills .progress-text,
    .about .tabs-about .tab-content .tab-pane.profile h6,
    .about .tabs-about .tab-content .tab-pane p {
        font-size: 13px;
    }
    .about .tabs-about .nav-link.active {
        border-top: none;
    }
    .about .tabs-about .nav-link,
    .about .tabs-about .nav-link i {
        font-size: 14px;
    }
    .about .about-img {
        width: 100%;
    }
    .about .about-img.show-img-abt {
        margin-left: auto;
    }
    .about .tabs-about .tab-content .tab-pane .btn-about a {
        padding: 9px 18px;
        font-size: 13px;
    }
    
    /* Services */
    
    .serv .serv-vid {
        height: 260px;
        margin: 15px auto 35px;
    }
    
    /* Portfolio */
    
    .work .shuffle ul li {
        margin-bottom: 10px;
    }
    
    /* blog */

    .blog .shuffle ul li {
        margin-bottom: 10px;
    }

    /* Testimonials */
    
    .testim .tabbable .list-tabs ul li:first-child {
        right: 89px;
    }
    
    .testim .tabbable .list-tabs ul li:nth-child(5) {
        left: 77px;
    }
    .testim .tabbable .tab-content .profile-details {
        width: 100%;
        margin-top: -52px;
        padding: 53px 0;
    }
    .testim .tabbable .tab-content .profile-details i.fa-quote-right {
        right: 23px;
        font-size: 17px;
        bottom: 20px;
    }
    .testim .tabbable .tab-content .profile-details i.fa-quote-left {
        left: 23px;
        font-size: 17px;
        top: 20px;
    }
    .testim .tabbable .tab-content .profile-details p {
        font-size: 14px;
        margin: 3px 5% 10px;
    }
    .testim .tabbable .tab-content .profile-details h4 {
        font-size: 15px;
    }
    .testim .tabbable .tab-content .profile-image .image-tab {
        height: 140px;
        width: 140px;
    }
    .testim .client .logos img {
        margin-bottom: 25px;
    }
    .testim .client .logos .last img {
        margin-bottom: 0;
    }
    
    /* Contact */
    
    .contact .infos {
        width: 90%;
        padding: 20px 23px;
        margin: auto;
        margin-top: 30px;
    }
    .contact .form .form-group textarea, .contact .form .form-group input {
        width: 100%;
        padding: 8px 4px;
    }
    .contact .form .message .send-btn {
        margin-left: 0;
    }
    
    .option-box {
        top: 100px;
    }
    
    /* for Demo */
    
    .header-demo .title-demo h1 {
        padding-top: 40%;
    }
    
}

/* Small Screen */
@media(min-width: 767px) and (max-width: 991px) {
    
    
}

/* Medium Screen */
@media(min-width: 992px) and (max-width: 1199px) {
    
    

}

/* Larg Screen */
@media(min-width: 1200px) {
    
}
/* ------------------------- End Media Query ---------------------------------------- */	
